{% extends "./base.html" %}

{% block title %}DailyIntake{% endblock %}

{% block content %}
<div class="max-w-lg mx-auto mt-10 p-6 bg-white shadow-md rounded-lg text-center">
    <h1 class="text-3xl font-bold mb-6">Vítej v aplikaci DailyIntake</h1>
    
    <div class="container mx-auto grid grid-cols-1 gap-4">
        <a href="{% url 'daily' %}" class="block w-full bg-blue-500 text-white py-3 rounded-lg text-lg font-semibold hover:bg-blue-600 transition">
            Denní příjem
        </a>
        <a href="{% url 'food_record_list' %}" class="block w-full bg-green-500 text-white py-3 rounded-lg text-lg font-semibold hover:bg-green-600 transition">
            Seznam jídel
        </a>
        <a href="{% url 'meal_plan' %}" class="block mb-5 bg-green-500 w-full text-white py-3 rounded-lg text-lg font-semibold hover:bg-green-600 transition">
            Jídelníček
            </a>
    </div>
</div>
{% endblock %}
