{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans 'Home' %}{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        Hi {{ user.username }}!
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">{% trans 'Log out' %}</button>
        </form>
        <p><a href="{% url 'list_activities' %}">{% trans 'View activities' %}</a></p>
        <p><a href="{% url 'password_change' %}">{% trans 'Password Change' %}</a></p>
    {% else %}
        <p>{% trans 'You are not logged in' %}</p>
        <a href="{% url 'login' %}">{% trans 'Log In' %}</a>
    {% endif %}
{% endblock %}
